<h1>Rent N' Care</h1>
<button><a href="/login">Login</a></button>
<button><a href="/signup">Sign Up</a></button>
{{#if error}}
  <p class={{class}}> {{error}}</p> 
{{/if}}
{{!-- create form for location purposes --}}
