<div class="jumbrotron jumbrotron-fluid">
  <div class="container"> 
    <h1 class="display-3">Welcome to Rent N' Care!</h1>
    <p class="lead">Rent N' Care is here to help you find the best and most affordable experience while you travel!</p>
  </div>
</div>
<button><a href="/login">Login</a></button>
<button><a href="/signup">Sign Up</a></button>

{{#if error}}
  <p class={{class}}> {{error}}</p> 
{{/if}}

{{!-- create form for location purposes --}}
