<section>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"
  ></script>
  <script
    src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
  ></script>
  <script src="../public/form.js"></script>
</section>
 <h1>Welcome {{username}}!</h1>
    <br />
<form action= "/private" id="private-form" method="POST">
<div class="row d-flex justify-content-center">
    <div class="form-group row">
    <div class="col-xl">
      Check-In Date<input
        type="text"
        class="form-control"
        id="my_date_picker_in"
        placeholder="Check-In Date"
      />
      <br />
      Check-Out Date<input
        type="text"
        class="form-control"
        id="my_date_picker_out"
        placeholder="Check-Out Date"
      />
      <br />
      Guests
      <input
        type="number"
        class="form-control"
        id="guests"
        min="0"
        max="60"
        placeholder="# of Guests"
      />
      <br />
      <button type="button" class="btn btn-secondary" style="color:#f8fbfe;">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          ></path>
        </svg>
        <a href='/listings' style="color:#ecf0f3;">Get Started</a>
      </button>
      <br />
      <br />
      {{!-- <button class="btn btn-light btn-lg"><a href="/logout">Click to Logout</a></button> --}}
    </div>
  </div>
</div>
  <br />  
</form>