<div class="row d-flex justify-content-center">
    <h1>{{username}}</h1>
  <div class="form-group row">
    <div class="col-X-6">
      Check-In<input type="text" class="form-control"id="my_date_picker_in" placeholder="Check-In Date">
      CheckOut<input type="text" class="form-control"id="my_date_picker_out" placeholder="Check-Out Date">
      Guests <input type="number" class="form-control" id="guests" min="0" max="" placeholder="# of Guests">
      <br>
      <button type="submit" class="submitButton">Submit</button>
    </div>
  </div>
  <br>
    <a href="/logout">Click to Logout</a>
</div>