{{!-- Get '/signup' method in routes  --}}
<h1>Sign Up</h1>
<form action= "/signup" id="signup-form" method="POST"> 
    <div class="mb-3">
      <div class="user">
    <label for="username"class="form-label">Username</label>
    <input type="text" name="username" id="username"/>
    </div>
    <br>
    {{!-- <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
</div> --}}
    <div class = "pass">
      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>
    </div>
<br>
    <div class="email">
      <label for="username">Email Address</label>
      <input type="email" name="email" id="email"/>
    </div>  
<br>
    <div class="fname">
      <label for="fname">First Name</label>
      <input type="text" name="fname" id="fname"/>
    </div>
  <br>
    <div class="lname">
      <label for="fname">Last Name</label>
      <input type="text" name="lname" id="lname"/>
    </div>
  <br>
  <div class="age">
      <label for="age">Age</label>
      <input type="number" name="age" id="age"/>
    </div>
  <br>
  <div class="phone">
      <label for="fname">Last Name</label>
      <input type="text" name="lname" id="lname"/>
    </div>
  <br>
    <a href="/login">Already have an account? Click here to log-in</a>
    <br>
    <button type="submit" class="btn btn-secondary">Sign In</button>
    
     {{#if error}}
      <p class={{class}}> {{error}}</p> 
    {{/if}}
</form>
    {{!-- {{#if error}}
      <p class={{class}}> {{error}}</p> 
    {{/if}} --}}