*{
    font-size: large;
}

.container-fluid{
    width: 100%;
    font-size: large;
}
/* h1{
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
} */
body {
    padding-bottom: 100px;
    text-align: center;
}
.image-logo{
   float:left;
}
/* .backMain{
    width: 50px;
    height: 25px;
} */
button:hover {
    background-color: #4CAF50;
    color: white;
    text-align: justify;
    font-weight: normal;
    
}